@import "tailwindcss";
@source "./styles/utils/_colors.scss";

@theme {
--color-grey-50: rgb(255, 255, 255);
	--color-grey-100: rgb(239, 239, 239);
	--color-grey-200: rgb(220, 220, 220);
	--color-grey-300: rgb(189, 189, 189);
	--color-grey-400: rgb(152, 152, 152);
	--color-grey-500: rgb(124, 124, 124);
	--color-grey-600: rgb(101, 101, 101);
	--color-grey-700: rgb(82, 82, 82);
	--color-grey-800: rgb(70, 70, 70);
	--color-grey-900: rgb(61, 61, 61);
	--color-grey-950: rgb(41, 41, 41);
	--color-grey: rgb(124, 124, 124);
	--color-grey-light: rgb(239, 239, 239);
	--color-grey-dark: rgb(41, 41, 41);
	--color-danger-50: rgb(255, 241, 243);
	--color-danger-100: rgb(255, 227, 232);
	--color-danger-200: rgb(255, 204, 215);
	--color-danger-300: rgb(255, 161, 183);
	--color-danger-400: rgb(255, 102, 140);
	--color-danger-500: rgb(249, 58, 111);
	--color-danger-600: rgb(231, 23, 91);
	--color-danger-700: rgb(195, 13, 76);
	--color-danger-800: rgb(163, 14, 70);
	--color-danger-900: rgb(139, 16, 67);
	--color-danger-950: rgb(78, 3, 32);
	--color-danger: rgb(249, 58, 111);
	--color-danger-light: rgb(255, 204, 215);
	--color-danger-dark: rgb(163, 14, 70);
	--color-warning-50: rgb(254, 249, 236);
	--color-warning-100: rgb(252, 235, 201);
	--color-warning-200: rgb(252, 235, 201);
	--color-warning-300: rgb(247, 185, 80);
	--color-warning-400: rgb(245, 160, 42);
	--color-warning-500: rgb(238, 126, 18);
	--color-warning-600: rgb(211, 92, 12);
	--color-warning-700: rgb(175, 62, 14);
	--color-warning-800: rgb(142, 48, 18);
	--color-warning-900: rgb(117, 40, 18);
	--color-warning-950: rgb(67, 19, 5);
	--color-warning: rgb(238, 126, 18);
	--color-warning-light: rgb(250, 213, 141);
	--color-warning-dark: rgb(175, 62, 14);
	--color-success-50: rgb(241, 252, 244);
	--color-success-100: rgb(223, 249, 232);
	--color-success-200: rgb(192, 242, 209);
	--color-success-300: rgb(143, 230, 174);
	--color-success-400: rgb(48, 183, 96);
	--color-success-500: rgb(48, 183, 96);
	--color-success-600: rgb(34, 151, 75);
	--color-success-700: rgb(30, 119, 62);
	--color-success-800: rgb(29, 94, 53);
	--color-success-900: rgb(25, 78, 45);
	--color-success-950: rgb(9, 42, 23);
	--color-success: rgb(48, 183, 96);
	--color-success-light: rgb(192, 242, 209);
	--color-success-dark: rgb(29, 94, 53);
	--color-info-50: rgb(241, 252, 251);
	--color-info-100: rgb(207, 248, 241);
	--color-info-200: rgb(159, 240, 229);
	--color-info-300: rgb(103, 225, 213);
	--color-info-400: rgb(75, 206, 197);
	--color-info-500: rgb(31, 173, 165);
	--color-info-600: rgb(22, 139, 136);
	--color-info-700: rgb(22, 111, 109);
	--color-info-800: rgb(22, 89, 89);
	--color-info-900: rgb(23, 74, 74);
	--color-info-950: rgb(7, 43, 44);
	--color-info: rgb(31, 173, 165);
	--color-info-light: rgb(159, 240, 229);
	--color-info-dark: rgb(22, 89, 89);
	--color-primary-50: rgb(246, 243, 255);
	--color-primary-100: rgb(239, 233, 254);
	--color-primary-200: rgb(224, 214, 254);
	--color-primary-300: rgb(202, 181, 253);
	--color-primary-400: rgb(170, 131, 249);
	--color-primary-500: rgb(151, 93, 245);
	--color-primary-600: rgb(138, 59, 236);
	--color-primary-700: rgb(123, 41, 216);
	--color-primary-800: rgb(103, 34, 181);
	--color-primary-900: rgb(0, 28, 56);
	--color-primary-950: rgb(0, 28, 56);
	--color-primary: rgb(151, 93, 245);
	--color-primary-light: rgb(224, 214, 254);
	--color-primary-dark: rgb(123, 41, 216);
	--color-theme-text: rgb(172, 172, 172);
	--color-theme-bgColor: rgb(255, 255, 255);
	--color-theme-bgContent: rgb(248, 248, 248);
	--color-theme-borderColor: rgb(71, 66, 66);
	--color-theme-shadow: rgb(17, 17, 17);
	--color-theme-navlink: rgb(134, 137, 140);
	--color-theme-title: rgb(30, 35, 32);
	--color-theme-banner: rgb(55, 21, 119);
	--color-theme-input: rgb(246, 248, 249);
	--color-theme-mask: rgb(38, 44, 46);
	--color-theme-primary: rgb(0, 28, 56);
	--color-dark-text: rgb(190, 190, 190);
	--color-dark-bgColor: rgb(30, 33, 34);
	--color-dark-bgContent: rgb(48, 49, 49);
}